* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

:root {
    --primary-black: #111;
    --primary-text-white: white;

}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    background-color: var(--primary-black);
}

#cursor {
    height: 1.75rem;
    /* h-7 */
    width: 1.75rem;
    /* w-7 */
    display: flex;
    /* flex */
    align-items: center;
    /* items-center */
    justify-content: center;
    /* justify-center */
    text-align: center;
    /* text-center */
    background-color: white;
    /* bg-white */
    z-index: 9;
    /* z-10 */
    position: fixed;
    /* fixed */
    border-radius: 9999px;
    /* rounded-full */
    box-shadow: 0 0 100px 15px rgba(255, 255, 255, 0.9);
}

.overlay {
    /* background-color: rgba(255, 0, 0, 0.13); */
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}

nav {
    position: fixed;
    /* background-color: rgb(0, 255, 68); */
    display: flex;
    align-items: flex-start;
    height: 12vh;
    width: 100%;
    padding: 2vw 2.4vw;
    justify-content: space-between;
    background-color: #111;
    z-index: 10;
}

nav h1 {
    font-size: 1.6vw;
}

#nav_part1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


#nav_part1 h4 a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

#nav_part1 h4 svg {
    height: 1.03rem;
    width: 1.03rem;
}

.nav-part2 {
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
}

.nav-part2 h4 {
    font-size: 1.03vw;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.nav-part2 h5 {
    margin-bottom: 1vw;
    /* background-color: red; */
    display: none;
    overflow: hidden;
}

.nav-part2 h5 span {
    font-size: 0.77vw;
    font-weight: 400;
    transform: translateY(25px);
    display: inline-block;
}

nav button {
    background-color: #0BA34E;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    font-size: 0.85vw;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50px;
    border: none;
}

nav button svg {
    height: 0.8vw;
    margin-left: 1.6vw;
}

#guitarSvg {
    width: 100%;
    height: 200px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

#nav-bottom {
    width: 79%;
    height: 0vh;
    position: absolute;
    /* background-color: red; */
    top: 100%;
    background-color: #111;
    z-index: 9;
    border-bottom: 1px solid #FFFFFF;
}




#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page1 h1 {
    font-size: 7.1vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;
}

#page1 h1 svg {
    height: 6vw;
    border-radius: 50%;
    width: 6vw;

    background-color: #0BA34E;
}

#page1 p {
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
    font-size: 1vw;
}

#page1-something {
    display: flex;
    align-items: center;
    justify-content: center;

}

#page1-something h4 {
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    margin-top: 0.5vw;
    padding: 9px 18px;

    border: 1px solid hsl(0, 0%, 65%);
    border-radius: 50px;



}

#page1-something h4:hover {
    color: var(--primary-black);
    transform: scaleX(1) scaleY(0.6) translateY(100%);
    background-color: var(--primary-text-white);

}

#page1-something h4:nth-last-child(2) {
    /* background-color: red; */
    border: none;
    padding: 2px;
}

#moving-div {
    /* background-color: red; */
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    white-space: nowrap;
    padding: 1.2vw;
    overflow: hidden;
    width: 44%;

}

#moving-div .move {
    display: inline-block;
    animation-name: mobe;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-div .move img {
    height: 2vw;
    margin: 0 1.2vw;
}

@keyframes mobe {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }

}

#blur-left {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, #111, transparent);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#blur-right {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, transparent, #111);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}





#page2 {
    z-index: 8;
    height: 100vh;
    position: relative;
    width: 100%;
    background-color: #111;
    position: relative;
    padding: 0vw 10.5vw;
    padding-bottom: 8vw;
    padding-top: 4vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page2-left {
    height: 100%;
    width: 40%;
    /* background-color: #333; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 3vw 0;
}

#page2-left p {
    font-size: 0.8vw;
}

#page2-left h5 {
    width: 75%;
    font-weight: 400;
    font-size: 1.1vw;
}


#page2-right {
    height: 100%;
    width: 50%;
    /* background-color: #333; */
}

.right-elem {
    position: relative;
    /* background-color: red; */
    padding-top: 2vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid #333;
}

.right-elem h2 {
    font-size: 1.4vw;
    font-weight: 400;
}

.right-elem img {
    height: 15vw;
    width: 15vw;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    scale: 0;
}


#page3 {
    height: 100%;
    width: 100%;
    background-color: #111;
    color: var(--primary-text-white);
}

#page3 h1 {
    font-size: 50vw;
}



.page3-center {
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 1vw;
    flex-direction: column;
}

.page3-center .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.3vw;
    border-radius: 50%;
    background-color: #fff;
}

.page3-center .icon i {
    color: #000;
    font-size: 2.8vw;

}

.page3-center h5 {
    font-size: 0.8vw;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    padding: 12px 26px 10px 26px;
    margin-top: 0.5vw;
    font-weight: 700;
    opacity: 0;
    transition: all ease 0.5s;
    transform: translateY(16%);
    text-transform: uppercase;
}

.page3-center:hover h5 {
    opacity: 1;
    transform: translateY(0%);
}

#page3 video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.7) scaleY(0);
    opacity: 0;
    border-radius: 30px;
    z-index: 99999;

}

#page4 {
    width: 100%;
    background-color: var(--primary-black);
    color: var(--primary-text-white);

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.lastPage {
    margin-top: 44vh;
    height: 40vh;
    position: relative;
    width: 100%;
    background-color: var(--primary-black);
    color: var(--primary-text-white);
}

.section {
    width: 100%;
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13vh 10vw;
    padding-bottom: 0;
}

.sec-left {
    height: 100%;
    width: 60%;
    padding-top: 3vh;
    color: var(--primary-text-white);
    /* background-color: aqua; */
    border-top: 2px solid #000;

}

.sec-left .skillslist>h4 {
    font-weight: 500;
    color: var(--primary-text-white);

    padding-top: 5px;
}

.sec-left .skillslist img {
    height: 2rem;
    width: 2rem;
}

.sec-left .skillslist .boxlist {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sec-left .skillslist .boxs {
    border: 1px solid var(--primary-text-white);
    padding: 10px;
    margin: 10px;
}

.sec-left .skillslist .boxs h3 {
    font-size: 10px;
}

.sec-left h2 {

    font-size: 2.1vw;
    font-weight: 500;
}

.sec-left p {
    color: var(--primary-text-white);
    margin-top: 10vh;
    font-size: 1.2vw;
    padding: 8px;
    /* width: 80%; */
}

.sec-right {
    height: 100%;
    width: 40%;
    background-color: blanchedalmond;
    position: relative;
}

.sec-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.sec-right img:hover{

}



#page5 {
    min-height: 100vh;
    background-color: #111;
    width: 100%;
    padding: 5vh 10.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#page5 button {
    background-color: #0BA34E;
    padding: 0.9vw 2.5vw;
    font-weight: 600;
    font-size: 1vw;
    border-radius: 50px;
    border: none;
    position: sticky;
    top: 15%;
}

#page5-right {
    width: 70%;
}

#page5-right>p {
    font-size: 2.1vw;
}

#page5-right>p span {
    /* background-color: red; */
    width: 15vw;
    display: inline-block;
}

#page5-content {
    width: 100%;
    /* background-color: red; */
    margin-top: 5vh;
    padding: 5vh 0;
}

#page5-content h1 {
    font-size: 3vw;
    font-weight: 500;
}

#page5-content #flex {
    display: flex;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#page5-content #flex h4 {
    border-radius: 50px;
    border: 1px solid #fff;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 0.8vw;

}

.page5-elem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
    /* padding: 2vh 0; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    padding-top: 3vh;
    padding-bottom: 9vh;
    overflow: hidden;
    border-top: 1px solid #333;
    position: relative;
}

.page5-elem p {
    width: 55%;
    font-size: 0.8vw;
    position: relative;
    z-index: 8;
}

.page5-elem h3 {
    font-size: 1.6vw;
    font-weight: 400;
    position: relative;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 8;
}

.page5-elem i {
    font-size: 1vw;
    position: relative;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 8;
}

.over {
    height: 100%;
    width: 100%;
    background-color: #222;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    opacity: 0;
    /* display: none; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.page5-elem:hover h3 {
    padding-left: 1vw;

}

.page5-elem:hover i {
    padding-right: 1vw;
}

.page5-elem:hover .over {
    transform: translateY(0);
    /* display: initial; */
    opacity: 1;
}

.page5-elem:hover {
    border-top: 2px solid #fff;
}



summary::marker {
    content: "";
}

.uiux {
    border-top: 1px solid #333;
    padding: 3vh 0;
}

.product {
    padding: 3vh 0;

    border-top: 1px solid #333;
}

#page6 {
    min-height: 100vh;
    width: 100%;
    background-color: var(--primary-black);
    color: var(--primary-text-white);
    padding: 10vh 10vw;
}

#page6>h1 {
    font-size: 40vw;
    /* background-color: red; */

}

#page6-content {
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vh 0;
}

#page6-content #right-6 {
    width: 70%;
}

#page6-content #right-6 p {
    font-size: 1.5vw;
    margin-bottom: 5vh;
    width: 80%;
}

#blue-btn {
    background-color: #4f5bff;
    width: 15vw;
    height: 3.5vw;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#blue-btn h4 {
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.85vw;
    /* letter-spacing: 1px; */
}

#blue-btn h4 i {
    font-size: 1.1vw;
    font-weight: 100;
    margin-left: 0.5vw;
}

#page6-bottom {
    height: 44vh;
    width: 100%;
    /* background-color: red; */
    border-top: 1px solid #dadada;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* background-color: rgb(48, 48, 48); */
    /* color: #000; */
}

#btm6-part1 {
    border-right: 1px solid #dadada;
    width: 30%;
    /* background-color: red; */
    height: 100%;
}

#btm6-part2 {
    border-right: 1px solid #dadada;
    width: 28%;
    /* background-color: red; */
    height: 100%;
}

#btm6-part3 {
    border-right: 1px solid #dadada;
    width: 15%;
    /* background-color: red; */
    height: 100%;
}

#btm6-part4 {
    border-right: 1px solid #dadada;
    width: 15%;
    /* background-color: red; */
    height: 100%;
}

#btm6-part5 {

    width: 15%;
    /* background-color: red; */
    height: 100%;
}

.btm6-parts {
    padding: 3vh 0.6vw;
}

.btm6-parts h5 {
    color: #000;
    font-weight: 500;
    font-size: 0.9vw;
    margin-bottom: 4vh;
}

.btm6-parts h4 {
    background-color: var(--primary-text-white);
    color: var(--primary-black);
    width: 75%;
    padding: 5px 10px;
    margin-bottom: 0.3vh;
    border-radius: 50px;
    font-size: 0.85vw;
    display: flex;
    align-items: center;
    font-weight: 500;

}

.btm6-parts h4 span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5vw;
    height: 1.5vw;
    background-color: #333;
    padding: 0.5vw;
    border-radius: 50%;
    margin-right: 1vw;
}

#btm6-part2 h4:nth-child(2) {
    transform: translateX(0);
}

#btm6-part2 h4:nth-child(3) {
    transform: translateX(10%);
}

#btm6-part2 h4:nth-child(4) {
    transform: translateX(20%);
}

#btm6-part2 h4:nth-child(5) {
    transform: translateX(30%);
}

#btm6-part2 h4:nth-child(6) {
    transform: translateX(40%);
}

#btm6-part2 h4:nth-child(7) {
    transform: translateX(50%);
}


#page7 {
    height: 100vh;
    background-color: #111;
}


footer {
    padding: 2rem;
    position: relative;
    background-color: var(--primary-black);
}

footer .footer-links {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    gap: 4;

}


footer h4 svg {
    height: 1rem;
    width: 1rem;
}

footer a {
    font-size: 1rem;
    text-decoration: none;
   padding-right: 0.6rem;
}
@media (max-width:600px) {
    #page1 h1{
        font-size: 10vw;
        line-height: 10vh;
    }
    #page1 h1 svg{
        font-size: 15rem;
        
    }
    nav h1{
        font-size: 0.7rem;
    }
    nav button{
 font: 0.7rem;
    }
    .nav-part2 h4{
        font-size: 0.7rem;
    }
    #moving-div .move img {
        height: 5vw;
        margin: 0 1.2vw;
    }
    #moving-div  {
    width: 70%;
    }
    #page1 p{
        font-size:2.4vw;
        padding: 1rem;
    }
    #page1-something h4{
        font-size: 0.7rem;
    }
}

@media (max-width:440px) {
    nav h1 {
        font-size: 2.6vw;
    }

    .nav-part2 h4 {
        font-size: 2.3vw;
    }

    nav button {
        font-size: 1.2vw;
        padding: 5px 5px;
    }

    #page1 {
        height: 86vh;
    }

    #page1 h1 {
        padding-left: 0.2rem;
        font-size: 12vw;
        line-height: 8vh;
    }

    #page1 p {
        font-size: 0.6rem;
        padding: 0.4rem;
    }

    #page1-something h4 {
        font-weight: 400;
        font-size: 2.1vw;
        text-transform: lowercase;
        margin-top: 0.5vw;
        padding: 5px 8px;
        border: 1px solid hsl(0, 0%, 65%);
    }

    #page1-something p {
        font-size: 5rem;
    }

    #moving-div {
        width: 72%;
    }

    #moving-div .move img {
        height: 4vh;
    }

    #page2 {
        height: 100vh;
    }

    #page2 {
        display: flex;
        flex-direction: column;
    }

    #page2-left {
        width: 100%;
        height: 40%;
    }

    #page2-left p {
        font-size: 1.8vw;
    }

    #page2-left h5 {
        width: 75%;
        font-weight: 400;
        font-size: 4.1vw;
    }

    #page2-right {
        width: 100%;
    }

    .right-elem {
        position: relative;
        /* background-color: red; */
        padding-top: 10vw;
        padding-bottom: 10vw;
        border-bottom: 1px solid #333;
    }

    .right-elem h2 {
        font-size: 2.4vw;
        font-weight: 500;
    }

    .right-elem img {
        height: 25vw;
        width: 25vw;
      

    }
    .sec-left p{
        margin-top: 0px;
        font-size: 0.8rem;
    }
    #Page4{
    }
 
    #page4 .section {
        display: flex;
        flex-direction: column;
    }
    .sec-left{
        width: 100%;
    }
    .sec-left .skillslist .boxlist {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .sec-left .skillslist .boxs img {
        height: 1rem;
        width: 1rem;
    }
    .sec-right{
        width: 100%;
    }
    .section{
        padding: 1vh 1vw;
    }
}